@model BusinessEnglish.Sites.Models.BaseViewModel

<div class="sidebar-wrapper">
    <ul class="sidebar-nav">
        @foreach (var topic in Model.Topics)
        {
            <li>
                <a data-toggle="collapse" data-target="#topic-@topic.Id"><i class="glyphicon glyphicon-chevron-right"></i>@topic.Name</a>
                <ul class="sub-menu @(Model.CurrentTopicId == @topic.Id ? "in" : "collapse")"
                    id="topic-@topic.Id">
                    @foreach (var sec in topic.Sections)
                    {
                        @*<li><a href="#">@sec.Name</a></li>*@
                        <li class="@(Model.CurrentSectionId == sec.Id ? "active" : "")">
                            @Html.ActionLink(sec.Name, "Contents", "Home", new { topicId = @topic.Id, sectionId = sec.Id }, null)
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>