@model MvcProject.Models.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WAYS TO SAY IT IN BUSINESS ENGLISH</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index"><small><span class="glyphicon glyphicon-briefcase icon-app"></span></small>English for Business</a>
                @*@Html.ActionLink("English App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>

            <div class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Topics", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

                <form class="navbar-form navbar-right">
                    <div class="form-group display-inline-block">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <!-- Sidebar -->
        <div class="sidebar-wrapper">
            <ul class="sidebar-nav">
                @foreach (var topic in Model.Topics)
                {
                    <li>
                        <a data-toggle="collapse" data-target="#topic-@topic.Id"><i class="glyphicon glyphicon-chevron-right"></i>@topic.Name</a>
                        <ul class="sub-menu collapse" id="topic-@topic.Id">
                            @foreach (var sec in topic.Sections)
                            {
                                @*<li><a href="#">@sec.Name</a></li>*@
                                @Html.ActionLink(sec.Name, "GetMenuContent", "Home", new { menuId = sec.Id }, null);
                            }
                        </ul>
                    </li>
                }

                @*
                     <li>
                        <a data-toggle="collapse" data-target="#demo1"><i class="glyphicon glyphicon-chevron-right"></i>INTRODUCTIONS</a>
                        <ul class="sub-menu collapse" id="demo1">
                            <li class="active"><a href="#">CSS3 Animation</a></li>
                            <li><a href="#">General</a></li>
                            <li><a href="#">Buttons</a></li>
                        </ul>
                    </li>
                    <li><a><i class="glyphicon glyphicon-chevron-right"></i>STARTING A SPEECH OR MEETING</a></li>
                    <li><a><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                    <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>*@
            </ul>
        </div>
        <!-- Page Content -->
        <div class="page-content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        @*</div>*@
    </div>
    @*<footer class="navbar navbar-default navbar-static-bottom">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>