@model IEnumerable<MvcProject.Models.Topic>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<div class="panel panel-success">
    <div class="panel-heading">Topics</div>
    <div class="panel-body">*@
<div class="panel panel-success">
    <div class="panel-heading">
        Topics
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive table-bordered">
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>*@
                        <td class="container text-center">
                            <button class="btn btn-primary"
                                    type="button"
                                    onclick="location.href='@Url.Action("Edit", "Topics", new { id = item.Id })'">
                                Edit
                            </button>
                            <button class="btn btn-info"
                                    type="button"
                                    onclick="location.href='@Url.Action("Details", "Topics", new { id = item.Id })'">
                                Details
                            </button>
                            <button class="btn btn-danger"
                                    type="button"
                                    onclick="location.href='@Url.Action("Delete", "Topics", new { id = item.Id })'">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

@*</div>
    </div>*@